body {
    font-family: sans-serif;
    background: dodgerblue;
    margin: 0;
}

/*CSS for Header Division*/

.header {
    background: rgb(34, 33, 33);/*You can select color from color palate using VS code editor.*/
    margin: 0px 100px;
    color: white;
}

.header .company-logo img {
    width: 100%;
}

.header .border {
    border: 2px solid white;
}

.header .menu-bar {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
}

.header .menu-bar div{
    width: 10%;
    height: 40px;
}

.header .menu-bar div button{
    height: 100%;
    width: 100%;
    font-size: 18px;
    border: none;
    background: transparent;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

.header .menu-bar div button:hover{
    background-color: black;
    border-bottom: 2px solid white;
}

.header .menu-bar h2 {
    text-align: center;
    border-bottom: 2px solid white;
    margin: 10px 450px;
}


/*      CSS for Main Divisoin       */

.main {
    text-align: center;
    color: black;
    background: white;/*You can select color from color palate using VS code editor.*/
    margin: -18px 100px;
}

.main .info-container h1 {
    background: red;
    color: white;
}

.main .info-container .trends {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main .info-container .trends .shayari-box {
    width: 35%;
    box-shadow: 10px 10px 8px 0px black;
    border-left: 5px solid red;
    margin: 10px;
    text-align: left;
    background: rgb(255, 241, 241);
}

.main .info-container .trends .shayari-box h3 {
    background: dodgerblue;
    border-left: 5px solid rgb(34, 33, 33);
    margin: 0px;
    padding: 5px;
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 23px;
}

.main .info-container .trends .shayari-box p {
    font-weight: bold;
    margin-left: 5px;
}

/*      CSS for Footer Division     */

.footer {
    background: rgb(34, 33, 33);/*You can select color from color palate using VS code editor.*/
    color: white;
    margin: 10px 100px;
}


@media only screen and (max-width: 600px) {/*CSS code for smaller devices, not done any yet.*/


}